xsd/GetAccountInfoResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by () -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.sama.gov.sa/fiportal/GetAccountInfoResponse.xsd"
	xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
	targetNamespace="http://www.sama.gov.sa/fiportal/GetAccountInfoResponse.xsd"
	elementFormDefault="qualified" xmlns:Q1="http://www.sama.bea.sa/common/PortalLib" xmlns:Q2="http://www.sama.bea.sa/inquiry/common/InquiryLibrary/PortalInquiryLib">
    <xsd:import schemaLocation="../../../common/PortalInquiryLib.xsd" namespace="http://www.sama.bea.sa/inquiry/common/InquiryLibrary/PortalInquiryLib"></xsd:import>
    <xsd:import schemaLocation="../../../common/PortalLib.xsd"
		namespace="http://www.sama.bea.sa/common/PortalLib"></xsd:import>
	<xsd:element name="GetAccountInfoResponseRq" type="GetAccountInfoResponseRqType"
		ibmSchExtn:docRoot="true" />
	<xsd:element name="GetAccountInfoResponseRs" type="GetAccountInfoResponseRsType"
		ibmSchExtn:docRoot="true" />
	<xsd:complexType name="GetAccountInfoResponseRqType">
		<xsd:sequence>
			<xsd:element name="GetAccountInfoResponseInput" type="GetAccountInfoResponseInputType" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetAccountInfoResponseRsType">
		<xsd:sequence>
			<xsd:element name="GetAccountInfoResponseOutput" type="GetAccountInfoResponseOutputType"
				maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetAccountInfoResponseOutputType">
		<xsd:sequence>
			<xsd:element name="WorkflowTaskInfo" type="Q1:WorkflowTaskInfo"
				maxOccurs="1" minOccurs="1"></xsd:element>
			<xsd:sequence>
				<xsd:element name="AccountInfoResponse" type="Q2:AccountInfoResponseType"
					minOccurs="0" maxOccurs="unbounded" />
				<xsd:element name="ShareInfoResponse" type="Q2:ShareInfoResponseType"
					minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetAccountInfoResponseInputType">
		<xsd:sequence>
			<xsd:element name="task_id">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int" />
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	


		
</xsd:schema>
