xsd/GetBalanceInfoResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.sama.gov.sa/fiportal/GetBalanceInfoResponse.xsd" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" targetNamespace="http://www.sama.gov.sa/fiportal/GetBalanceInfoResponse.xsd" elementFormDefault="qualified" xmlns:Q1="http://www.sama.bea.sa/common/BaseLib" xmlns:Q2="http://www.sama.bea.sa/common/PortalLib" xmlns:Q3="http://www.sama.bea.sa/inquiry/common/InquiryLibrary/PortalInquiryLib">
    <xsd:import schemaLocation="../../../common/PortalInquiryLib.xsd" namespace="http://www.sama.bea.sa/inquiry/common/InquiryLibrary/PortalInquiryLib"></xsd:import>
    <xsd:import schemaLocation="../../../common/PortalLib.xsd" namespace="http://www.sama.bea.sa/common/PortalLib"></xsd:import>
    <xsd:element name="GetBalanceInfoResponseRq" type="GetBalanceInfoResponseRqType" ibmSchExtn:docRoot="true"/>
	<xsd:element name="GetBalanceInfoResponseRs" type="GetBalanceInfoResponseRsType" ibmSchExtn:docRoot="true"/>
	<xsd:complexType name="GetBalanceInfoResponseRqType">
		<xsd:sequence>
			<xsd:element name="GetBalanceInfoResponseInput" type="GetBalanceInfoResponseInputType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetBalanceInfoResponseRsType">
		<xsd:sequence>
			<xsd:element name="GetBalanceInfoResponseOutput" type="GetBalanceInfoResponseOutputType" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetBalanceInfoResponseOutputType">
		<xsd:sequence>
			<xsd:element name="WorkflowTaskInfo" type="Q2:WorkflowTaskInfo" maxOccurs="1" minOccurs="1"></xsd:element>
			<xsd:sequence>
				<xsd:element name="BalanceInfoResponse" type="Q3:BalanceInfoResponseType" minOccurs="0" maxOccurs="unbounded"/>
							<xsd:element name="ShareInfoResponse" type="Q3:ShareInfoResponseType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetBalanceInfoResponseInputType">
		<xsd:sequence>
			<xsd:element name="task_id">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int"/>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
</xsd:schema>
