xsd/GetDepositInfoResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.sama.gov.sa/fiportal/GetDepositInfoResponse.xsd" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" targetNamespace="http://www.sama.gov.sa/fiportal/GetDepositInfoResponse.xsd" elementFormDefault="qualified" xmlns:Q1="http://www.sama.bea.sa/common/PortalLib" xmlns:Q2="http://www.sama.bea.sa/inquiry/common/InquiryLibrary/PortalInquiryLib">
    <xsd:import schemaLocation="../../../common/PortalInquiryLib.xsd" namespace="http://www.sama.bea.sa/inquiry/common/InquiryLibrary/PortalInquiryLib"></xsd:import>
    <xsd:import schemaLocation="../../../common/PortalLib.xsd" namespace="http://www.sama.bea.sa/common/PortalLib"></xsd:import>
    <xsd:element name="GetDepositInfoResponseRq" type="GetDepositInfoResponseRqType" ibmSchExtn:docRoot="true"/>
	<xsd:element name="GetDepositInfoResponseRs" type="GetDepositInfoResponseRsType" ibmSchExtn:docRoot="true"/>
	<xsd:complexType name="GetDepositInfoResponseRqType">
		<xsd:sequence>
			<xsd:element name="GetDepositInfoResponseInput" type="GetDepositInfoResponseInputType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetDepositInfoResponseRsType">
		<xsd:sequence>
			<xsd:element name="GetDepositInfoResponseOutput" type="GetDepositInfoResponseOutputType" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetDepositInfoResponseOutputType">
		<xsd:sequence>
			<xsd:element name="WorkflowTaskInfo" type="Q1:WorkflowTaskInfo" maxOccurs="1" minOccurs="1"></xsd:element>
			<xsd:sequence>
				<xsd:element name="DepositeInfoResponse" type="Q2:DepositeInfoResponseType" maxOccurs="unbounded"/>
				
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="GetDepositInfoResponseInputType">
		<xsd:sequence>
			<xsd:element name="task_id">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int"/>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
