xsd/SubmitBalanceInfoResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.sama.gov.sa/fiportal/SubmitBalanceInfoResponse.xsd" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" targetNamespace="http://www.sama.gov.sa/fiportal/SubmitBalanceInfoResponse.xsd" elementFormDefault="qualified" xmlns:Q1="http://www.sama.bea.sa/common/BaseLib" xmlns:Q2="http://www.sama.bea.sa/inquiry/common/GeneralInquiryLib/AcctsBalsInfoLib" xmlns:Q3="http://www.sama.bea.sa/common/PortalLib" xmlns:Q4="http://www.sama.bea.sa/inquiry/common/InquiryLibrary/PortalInquiryLib">
    <xsd:import schemaLocation="../../../common/PortalInquiryLib.xsd" namespace="http://www.sama.bea.sa/inquiry/common/InquiryLibrary/PortalInquiryLib"></xsd:import>
    <xsd:import schemaLocation="../../../common/PortalLib.xsd" namespace="http://www.sama.bea.sa/common/PortalLib"></xsd:import>
    <xsd:element name="SubmitBalanceInfoResponseRq" type="SubmitBalanceInfoResponseRqType" ibmSchExtn:docRoot="true"/>
	<xsd:element name="SubmitBalanceInfoResponseRs" type="SubmitBalanceInfoResponseRsType" ibmSchExtn:docRoot="true"/>
	<xsd:complexType name="SubmitBalanceInfoResponseRqType">
		<xsd:sequence>
			<xsd:element name="SubmitBalanceInfoResponseInput" type="SubmitBalanceInfoResponseInputType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SubmitBalanceInfoResponseRsType">
		<xsd:sequence>
			<xsd:element name="SubmitBalanceInfoResponseOutput" type="SubmitBalanceInfoResponseOutputType" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SubmitBalanceInfoResponseOutputType">
		<xsd:sequence>
			<xsd:element name="status_code">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="status_message">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SubmitBalanceInfoResponseInputType">
		<xsd:sequence>
		<xsd:element name="WorkflowTaskInfo" type="Q3:WorkflowTaskInfo" maxOccurs="1" minOccurs="1">

			</xsd:element>
			<xsd:element name="BalanceInfoResponse" type="Q4:BalanceInfoResponseType" maxOccurs="unbounded"/>
					<xsd:element name="ShareInfoResponse" type="Q4:ShareInfoResponseType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	
</xsd:schema>
