xsd/SubmitAccountInfoResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.sama.gov.sa/fiportal/SubmitAccountInfoResponse.xsd" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" targetNamespace="http://www.sama.gov.sa/fiportal/SubmitAccountInfoResponse.xsd" elementFormDefault="qualified" xmlns:Q1="http://www.sama.bea.sa/common/PortalLib" xmlns:Q2="http://www.sama.bea.sa/inquiry/common/InquiryLibrary/PortalInquiryLib">
    <xsd:import schemaLocation="../../../common/PortalInquiryLib.xsd" namespace="http://www.sama.bea.sa/inquiry/common/InquiryLibrary/PortalInquiryLib"></xsd:import>
    <xsd:import schemaLocation="../../../common/PortalLib.xsd" namespace="http://www.sama.bea.sa/common/PortalLib"></xsd:import>
    <xsd:element name="SubmitAccountInfoResponseRq" type="SubmitAccountInfoResponseRqType" ibmSchExtn:docRoot="true"/>
	<xsd:element name="SubmitAccountInfoResponseRs" type="SubmitAccountInfoResponseRsType" ibmSchExtn:docRoot="true"/>
	<xsd:complexType name="SubmitAccountInfoResponseRqType">
		<xsd:sequence>
			<xsd:element name="SubmitAccountInfoResponseInput" type="SubmitAccountInfoResponseInputType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SubmitAccountInfoResponseRsType">
		<xsd:sequence>
			<xsd:element name="SubmitAccountInfoResponseOutput" type="SubmitAccountInfoResponseOutputType" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SubmitAccountInfoResponseOutputType">
		<xsd:sequence>
			<xsd:element name="status_code">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="status_message">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SubmitAccountInfoResponseInputType">
		<xsd:sequence>
			<xsd:element name="WorkflowTaskInfo" type="Q1:WorkflowTaskInfo" maxOccurs="1" minOccurs="1">
			</xsd:element>
			<xsd:element name="AccountInfoResponse" type="Q2:AccountInfoResponseType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ShareInfoResponse" type="Q2:ShareInfoResponseType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	</xsd:schema>
