xsd/SubmitDepositInfoResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.sama.gov.sa/fiportal/SubmitDepositInfoResponse.xsd" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" targetNamespace="http://www.sama.gov.sa/fiportal/SubmitDepositInfoResponse.xsd" elementFormDefault="qualified" xmlns:Q1="http://www.sama.bea.sa/common/PortalLib" xmlns:Q2="http://www.sama.bea.sa/inquiry/common/InquiryLibrary/PortalInquiryLib">
    <xsd:import schemaLocation="../../../common/PortalInquiryLib.xsd" namespace="http://www.sama.bea.sa/inquiry/common/InquiryLibrary/PortalInquiryLib"></xsd:import>
    <xsd:import schemaLocation="../../../common/PortalLib.xsd" namespace="http://www.sama.bea.sa/common/PortalLib"></xsd:import>
    <xsd:element name="SubmitDepositInfoResponseRq" type="SubmitDepositInfoResponseRqType" ibmSchExtn:docRoot="true"/>
	<xsd:element name="SubmitDepositInfoResponseRs" type="SubmitDepositInfoResponseRsType" ibmSchExtn:docRoot="true"/>
	<xsd:complexType name="SubmitDepositInfoResponseRqType">
		<xsd:sequence>
			<xsd:element name="SubmitDepositInfoResponseInput" type="SubmitDepositInfoResponseInputType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SubmitDepositInfoResponseRsType">
		<xsd:sequence>
			<xsd:element name="SubmitDepositInfoResponseOutput" type="SubmitDepositInfoResponseOutputType" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SubmitDepositInfoResponseOutputType">
		<xsd:sequence>
			<xsd:element name="status_code">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="status_message">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SubmitDepositInfoResponseInputType">
		<xsd:sequence>
			<xsd:element name="WorkflowTaskInfo" type="Q1:WorkflowTaskInfo" maxOccurs="1" minOccurs="1">

			</xsd:element>
			<xsd:element name="DepositInfoResponse" type="Q2:DepositeInfoResponseType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
</xsd:schema>
