xsd/SubmitLiabilitiesInfoResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.sama.gov.sa/fiportal/SubmitLiabilitiesInfoResponse.xsd"
	xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
	targetNamespace="http://www.sama.gov.sa/fiportal/SubmitLiabilitiesInfoResponse.xsd"
	elementFormDefault="qualified" xmlns:Q1="http://www.sama.bea.sa/common/BaseLib"
	xmlns:Q2="http://www.sama.bea.sa/inquiry/common/GeneralInquiryLib"
	xmlns:Q3="http://www.sama.bea.sa/common/PortalLib" xmlns:Q4="http://www.sama.bea.sa/inquiry/common/InquiryLibrary/PortalInquiryLib">
    <xsd:import schemaLocation="../../../common/PortalInquiryLib.xsd" namespace="http://www.sama.bea.sa/inquiry/common/InquiryLibrary/PortalInquiryLib"></xsd:import>
    <xsd:import schemaLocation="../../../common/PortalLib.xsd"
		namespace="http://www.sama.bea.sa/common/PortalLib"></xsd:import>
	<xsd:element name="SubmitLiabilitiesInfoResponseRq" type="SubmitLiabilitiesInfoResponseRqType"
		ibmSchExtn:docRoot="true" />
	<xsd:element name="SubmitLiabilitiesInfoResponseRs" type="SubmitLiabilitiesInfoResponseRsType"
		ibmSchExtn:docRoot="true" />
	<xsd:complexType name="SubmitLiabilitiesInfoResponseRqType">
		<xsd:sequence>
			<xsd:element name="SubmitLiabilitiesInfoResponseInput"
				type="SubmitLiabilitiesInfoResponseInputType" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SubmitLiabilitiesInfoResponseRsType">
		<xsd:sequence>
			<xsd:element name="SubmitLiabilitiesInfoResponseOutput"
				type="SubmitLiabilitiesInfoResponseOutputType" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SubmitLiabilitiesInfoResponseOutputType">
		<xsd:sequence>
			<xsd:element name="status_code">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string" />
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="status_message">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string" />
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SubmitLiabilitiesInfoResponseInputType">
		<xsd:sequence>
			<xsd:element name="WorkflowTaskInfo" type="Q3:WorkflowTaskInfo"
				maxOccurs="1" minOccurs="1">

			</xsd:element>
			<xsd:element name="LiabilitiesInfoResponse" type="Q4:LiabilitiesInfoResponseType"
				maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
